<ol id="post-list">
    {{#foreach posts}}
    <li class="article-list">
        <article class="hentry">
            <header>
                <h3 class="entry-title">
                    <a href="{{url}}" rel="bookmark"
                       title="{{title}}">{{
                        title}}</a>
                </h3>
            </header>
            <footer class="post-info">
                <div class="published" title="{{date format="YYYY-MM-DD"}}">
                    {{date format="YYYY-MM-DD"}}
               </div>
            </footer>
            <!-- /.post-info -->
            <div class="entry-content">{{excerpt words="26"}}</div>
            <!-- /.entry-content -->
                {{#if tags}}
            <div class="post-tags">
              <span class="am-icon-tags"></span>
                 {{#tags}}
                      <li>{{name}}</li>
                 {{/tags}}
            </div>
                {{/if}}
        </article>
    </li>
    {{/foreach}}
</ol>
<!-- /#posts-list -->
