{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
    <div class="entry-content">
      <div class="entry-info">
        <h1>{{title}}</h1>
        {{author}} · {{date}}
      </div>
        {{content}}
      <div class="end-article">
          {{#if tags}}
            <span class="am-icon-tags"></span>
            {{#tags}}
            {{/tags}}
          {{/if}}
          <p>- END -</p>
      </div>
      <div class="clear" style="clear:both"></div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
    <div class="neighbors">
        <ul class="pager">
            {{#prev_post}}
            <li class="prev am-pagination-prev">
                <a href="{{url}}" rel="prev" title="prev post">
                  &lArr; {{title}}
                </a>
            </li>
            {{/prev_post}}
            {{#next_post}}
            <li class="next am-pagination-next">
                <a href="{{url}}" rel="next" title="next post">
                  {{title}} &rArr;
                </a>
            </li>
            {{/next_post}}
        </ul>
        <div style="clear: both"></div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
    <div class="asset-footer">
        <div class="panel-heading">
            <h3 class="panel-title">版权声明：<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">自由转载-非商用-非衍生-保持署名</a>
            </h3>
        </div>
        <div class="panel-body">
          <h3>原文网址：<a href="{{url absolute="true"}}">{{url absolute="true"}}</a></h3>
        </div>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'rainy-im'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
<script src="//7xiijd.com1.z0.glb.clouddn.com/highlight.pack.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script src="//cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
	jax: ["input/TeX","output/SVG"],
        tex2jax: {inlineMath: [["$","$"], ["\\(","\\)"]],
                  displayMath: [['$$','$$'], ["\[","\]"]]}
    });
</script>

{{/post}}
